.nav{
    display: flex;
    justify-content: space-between;
    top: 0;
    
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 1;
}
.nv_logo{
    position : fixed;
    width: 80px;
    object-fit: contain;
}
.nv_profile_logo{
    position : fixed;
    width: 30px;
    right: 20px;
    object-fit: contain;
}
